.sidebar {
    /*border: 2px solid black;*/
    border-radius: 0 5vh 5vh 0;
    background-color: #e8e0e0;
}

/*.sidebar-button {*/
/*    border-radius:5vh;*/
/*}*/
.sidebar-button :hover {
    background-color: black;
    color: white;
    transition-duration: 0.1s;
}

.sidebar-button-item:active {
    background-color: black;
    color: white;
}

.not-expanded-sidebar-button :hover{
    background-color: black;
    color: white;
    transition-duration: 0.1s;
    border-radius: 50%;
}
